<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/forget/style.css" th:href="@{/css/forget/style.css}" rel="stylesheet">
</head>

<body>
<!--    <p class="tip">Click on button in image container</p>-->
    <div class="cont">
        <div class="form sign-in">
            <h2>重置密码</h2>
            <label>
                <span>账户</span>
                <input type="text" name="account" id="account"/>
            </label>
            <label>
      <span>邮箱</span>
      <input type="email" name="email" id="email"/>
    </label>
            <label>
      <span>密码</span>
      <input type="password" name="password" id="password"/>
    </label>
            <label>
                <span>验证码</span>
                <input type="text" name="code" id="code"/>
            </label>
<!--            <p class="forgot-pass">Forgot password?</p>-->
            <button type="button" class="submit" onclick="resetPassword()">重置密码</button>
            <button type="button" class="fb-btn" onclick="sendCode()">发送验证码: <span>邮箱</span></button>

        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>New here?</h2>
                    <p>如果你忘记了账户密码，可在此处通过邮箱验证重置密码!</p>
                </div>
<!--                <div class="img__text m&#45;&#45;in">-->
<!--                    <h2>One of us?</h2>-->
<!--                    <p>If you already has an account, just sign in. We've missed you!</p>-->
<!--                </div>-->
                <div class="img__btn" onclick="toLogin()">
                    <span class="m--up">返回登录</span>
<!--                    <span class="m&#45;&#45;in">Sign In</span>-->
                </div>
            </div>
<!--            <div class="form sign-up">-->
<!--                <h2>Time to feel like home,</h2>-->
<!--                <label>-->
<!--        <span>Name</span>-->
<!--        <input type="text" />-->
<!--      </label>-->
<!--                <label>-->
<!--        <span>Email</span>-->
<!--        <input type="email" />-->
<!--      </label>-->
<!--                <label>-->
<!--        <span>Password</span>-->
<!--        <input type="password" />-->
<!--      </label>-->
<!--                <button type="button" class="submit">Sign Up</button>-->
<!--                <button type="button" class="fb-btn">Join with <span>facebook</span></button>-->
<!--            </div>-->
        </div>
    </div>

<!--    <a href="https://dribbble.com/shots/3306190-Login-Registration-form" target="_blank" class="icon-link">-->
<!--        <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Dribbble-icon.png">-->
<!--    </a>-->
<!--    <a href="https://twitter.com/NikolayTalanov" target="_blank" class="icon-link icon-link&#45;&#45;twitter">-->
<!--        <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png">-->
<!--    </a>-->
</body>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script>
    // document.querySelector('.img__btn').addEventListener('click', function () {
    //     document.querySelector('.cont').classList.toggle('s--signup');
    // });

    function sendCode() {
        let account = $('#account').val()
        let email = $('#email').val()
        if(account == null || account === ''){
            alert('请填写你的账号')
            return
        }
        if (email == null || email === ''){
            alert('请填写你的邮箱')
            return
        }

        $.ajax({
            type : 'post',
            url: "/user/code",
            data:  {account, email},
            success: function (res) {
                alert(res.message)
            },
            error: function (err) {
                alert('验证码发送失败')
            }
        })
    }

    function resetPassword() {
        let account = $('#account').val()
        let password = $('#password').val()
        let code = $('#code').val()
        if(account == null || account === ''){
            alert('请填写你的账号')
            return
        }
        if(password.length<6){
            alert('密码长度最少6位')
            return
        }else if(password.length>20){
            alert('密码长度最多20位')
            return
        }else if(password.indexOf(' ') >=0){
            alert('密码不能包含空白符')
            return
        }

        if(!(code.length>0)){
            alert("验证码错误")
            return
        }

        $.ajax({
            type : 'post',
            url: "/user/resetPassword",
            data:  {account, password, code},
            success: function (res) {
                if (res.status === 200){
                    $(location).attr('href', '/user/')
                }
                alert(res.message)
            },
            error: function (err) {
                alert('密码重置失败')
            }
        })
    }

    function toLogin() {
        $(location).attr('href', '/user/')
    }
</script>

</html>