<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/login/style.css" rel="stylesheet">
</head>

<body>
    <!-- <div class="brand">
        <a href="http://www.jamiecoulter.co.uk" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/logo.png">
        </a>
    </div> -->
    <div class="login">
        <div class="login_title">
            <span>Login to your account</span>
        </div>
        <div class="login_fields">
            <div class="login_fields__user">
                <div class="icon">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png">
                </div>
                <input placeholder="账户" type="text" id="account">
                <div class="validation">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png">
                </div>
            </div>
            <div class="login_fields__password">
                <div class="icon">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png">
                </div>
                <input placeholder="密码" type="password" id="password">
                <div class="validation">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png">
                </div>
            </div>
            <div class="login_fields__submit">
                <input type="submit" value="Log In">
                <div class="forgot">
                    <a href="#">忘记密码?</a>
                </div>
            </div>
        </div>
        <div class="success">
            <h2>登录成功</h2>
            <p>欢迎回来</p>
        </div>
        <div class="disclaimer">
            <p>教务管理系统</p>
        </div>
    </div>
    <!-- <div class="authent">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/puff.svg">
        <p>Authenticating...</p>
    </div>
    <div class="love">
        <p>Made with <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/love_copy.png" /> by <a href="http://www.jamiecoulter.co.uk" target="_blank"> Jcoulterdesign </a></p>
    </div> -->
</body>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script>
    $('input[type="submit"]').click(function() {
        // 控制点击登录后翻转
        $('.login').addClass('test')
        // 控制点击登录后左移
        setTimeout(function() {
            $('.login').addClass('testtwo')
        }, 300);
        // 没什么影响
        // 是否可以跳转
        let ok = false
        setTimeout(function() {
            $(".authent").show().animate({
                right: -320
            }, {
                easing: 'easeOutQuint',
                duration: 600,
                queue: false
            });
            $(".authent").animate({
                opacity: 1
            }, {
                duration: 200,
                queue: false
            }).addClass('visible');

            // 发送登录请求
            let account = $('#account').val();
            let password = $('#password').val();

            $.ajax({
                type : 'post',
                url: "/user/login",
                data:  {account, password},
                success: function (res) {
                    $('.success h2').text(res.message)
                    if(res.data == null){
                        $('.success p').html('<a href="/user/">返回登录</a>')
                    }else{
                        ok = true
                    }
                },
                error: function (err) {
                    $('.success h2').text('登录失败')
                    $('.success p').html('<a href="/user/">返回登录</a>')
                }
            })

        }, 500);
        // 控制登录后翻转后的右移
        setTimeout(function() {
            $(".authent").show().animate({
                right: 90
            }, {
                easing: 'easeOutQuint',
                duration: 600,
                queue: false
            });
            $(".authent").animate({
                opacity: 0
            }, {
                duration: 200,
                queue: false
            }).addClass('visible');
            $('.login').removeClass('testtwo')
        }, 2500);
        // 控制登录成功后翻转

        setTimeout(() => {
            $('.login').removeClass('test')
            $('.login div').fadeOut(123);

        }, 2800);
        // 控制登录成功显示内容
        setTimeout(function() {
            $('.success').fadeIn();
            setTimeout(function () {
                if(ok){
                    $(location).attr('href', '/home.html')
                }
            },400)
        }, 3200);
    });

    $('input[type="text"],input[type="password"]').focus(function() {
        $(this).prev().animate({
            'opacity': '1'
        }, 200)
    });
    $('input[type="text"],input[type="password"]').blur(function() {
        $(this).prev().animate({
            'opacity': '.5'
        }, 200)
    });

    $('input[type="text"],input[type="password"]').keyup(function() {
        if (!$(this).val() == '') {
            $(this).next().animate({
                'opacity': '1',
                'right': '30'
            }, 200)
        } else {
            $(this).next().animate({
                'opacity': '0',
                'right': '20'
            }, 200)
        }
    });

    var open = 0;
    $('.tab').click(function() {
        $(this).fadeOut(200, function() {
            $(this).parent().animate({
                'left': '0'
            })
        });
    });
</script>

</html>