<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.practice.dao.ClassDao">
    <select id="findAllClass" resultType="Classes">
        SELECT * FROM classes
    </select>
    <select id="findClassById" resultType="Classes" parameterType="Integer">
        SELECT * FROM classes WHERE id = #{id}
    </select>
    <select id="findAllClassInfo" resultType="ClassInfo">
        SELECT classes.id, classes.name as className, discipline.name as disciplineName, college.name as collegeName FROM classes, discipline, college WHERE classes.disciplineId=discipline.id and discipline.collegeId=college.id
    </select>
    <delete id="deleteClass" parameterType="list">
        delete from classes where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="addClass" parameterType="Classes">
        insert into classes (id, name, disciplineId) values (#{id}, #{name},#{disciplinedId})
    </insert>
<!--    数据更新-->
    <update id="updateClassInfo" parameterType="Classes">
        update classes set name=#{name}, disciplineId=#{disciplinedId} where id=#{id}
    </update>
    <select id="searchClassByName" resultType="ClassInfo">
        SELECT classes.id, classes.name as className, discipline.name as disciplineName, college.name as collegeName FROM classes, discipline, college WHERE classes.disciplineId=discipline.id and discipline.collegeId=college.id
        <if test="classKeyword != null and classKeyword != ''">
            and classes.name like concat("%", #{classKeyword}, "%")
        </if>
    </select>
    <select id="findAllClassInfoByDiscipline" resultType="ClassInfo" parameterType="Discipline">
        SELECT classes.id, classes.name as className, discipline.name as disciplineName, college.name as collegeName FROM classes, discipline, college WHERE classes.disciplineId=discipline.id and discipline.collegeId=college.id and classes.disciplineId = #{id}
    </select>
</mapper>