<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.practice.dao.CounselorDao">
    <select id="getTotal"  resultType="int">
        select count(*) from t_user
    </select>

    <select id="findAllByPage" parameterType="int" resultType="Student">
        select * from student limit #{start}, #{size}
    </select>

    <select id="findAllStudent" parameterType="User" resultMap="studentMap">
        SELECT student.*,classes.id AS classes_id,classes.name AS classes_name FROM student,classes WHERE classId in (SELECT id FROM classes WHERE disciplineId = (SELECT disciplineId FROM counselor WHERE counselorId = #{account})) AND student.classId = classes.id
        ORDER BY id
    </select>

    <select id="searchAllStudentById"  parameterType="String" resultMap="studentMap">
        SELECT student.*,classes.id AS classes_id,classes.name AS classes_name FROM student,classes WHERE classId in (SELECT id FROM classes WHERE disciplineId = (SELECT disciplineId FROM counselor WHERE counselorId = #{account})) AND student.classId = classes.id
        <if test="keyword != null and keyword != ''">
            AND student.name like concat("%", #{keyword}, "%")
        </if>
        ORDER BY id
    </select>

    <select id="findCounselorByCounselorId" parameterType="Counselor" resultType="Counselor">
        SELECT * FROM counselor WHERE counselorId = #{counselorId}
    </select>

    <select id="findStudentByStudentId"  parameterType="Student" resultType="Student">
        SELECT * FROM student WHERE studentId = #{studentId}
        ORDER BY id
    </select>

    <update id="updateStudentPassword" parameterType="User">
        UPDATE user SET password = #{password} WHERE account = #{account}
    </update>

<!--    <select id="findClassByCounselorId" parameterType="User" resultType="Classes">-->
<!--        SELECT * FROM classes WHERE classes.disciplineId = (SELECT counselor.disciplineId FROM counselor WHERE counselor.counselorId = #{account})-->
<!--    </select>-->

    <select id="findClassByCounselorId" parameterType="User" resultType="Classes">
        SELECT * FROM classes
    </select>

    <insert id="insertStudent" parameterType="Student">
        INSERT INTO student SET studentId = #{studentId}, `name` = #{name}, gender = #{gender}, classId = #{classId}, student.date = #{date}
    </insert>

    <update id="updateStudent" parameterType="Student">
         UPDATE student SET `name` = #{name}, age = #{age}, gender = #{gender}, address = #{address}, email = #{email}, phoneNumber = #{phoneNumber}, classId = #{classId}, photoUrl = #{photoUrl}, student.date = #{date} WHERE studentId = #{studentId}
    </update>

    <!-- 多对一关系 -->
    <resultMap type="Student" id="studentMap">
        <id column="id" property="id" />
        <result column="studentId" property="studentId" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="gender" property="gender" />
        <result column="address" property="address" />
        <result column="email" property="email" />
        <result column="phoneNumber" property="phoneNumber" />
        <result column="photoUrl" property="photoUrl" />
        <result column="date" property="date" />
        <association property="classes" javaType="Classes">
            <id column="classes_id" property="id" />
            <result column="classes_name" property="name" />
        </association>
    </resultMap>
</mapper>