<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.practice.dao.CourseDao">
    <select id="findAllCourse"  resultType="Course">
        SELECT * FROM course
        <if test="courseName != null and courseName != ''">
            where name like concat("%", #{courseName}, "%")
        </if>
    </select>
    <insert id="insertCourse" parameterType="Course">
        INSERT INTO `course` (credit,`desc`,`name`) VALUES (#{credit},#{desc},#{name})
    </insert>
    <select id="findCourse" parameterType="String" resultType="Course">
        SELECT * FROM course WHERE id = #{id};
    </select>
    <update id="updateCourse" parameterType="course">
        UPDATE course SET credit=#{credit},`name`=#{name},`desc`=#{desc} WHERE id=#{id}
    </update>
    <delete id="deleteSelectedCourse" parameterType="list">
        DELETE FROM course WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteCourse" parameterType="String">
        DELETE FROM course WHERE id = #{id}
    </delete>

</mapper>