<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<mapper namespace="com.graduation.practice.dao.UserDao">-->
<!--    <select id="findUserByAccount" parameterType="Student" resultType="Student">-->
<!--        SELECT * FROM user WHERE account = #{account}-->
<!--    </select>-->

<mapper namespace="com.graduation.practice.dao.StudentDao">
    <select id="findStudentByStudentId" parameterType="Student" resultType="Student">
        SELECT * FROM student WHERE studentId = #{studentId}
    </select>

    <!--=========================== 学生界面 =====================================================-->
    <select id="findUserByAccount" parameterType="User" resultType="User">
        SELECT * FROM user WHERE account = #{account} and type=5
    </select>
    <!--    &#45;&#45;         select * FROM student_to_score where studentId = #{studentId}-->
    <!--    SELECT course.id as courseId, course.`name`, course.`desc`, course.credit, student_to_score.score, student_to_score.startTime, student_to_score.endTime FROM student_to_score, course WHERE course.id = student_to_score.courseId and studentId=#{studentId} ORDER BY id-->
    <select id="findStudentScore" parameterType="User" resultType="ScoreShow">
        SELECT course.id as courseId, course.`name`, course.`desc`, course.credit, student_to_score.score, student_to_score.startTime, student_to_score.endTime FROM student_to_score, course, student, user WHERE user.account=student.studentId and student.id=student_to_score.studentId and student_to_score.courseId = course.id and user.account=#{account} ORDER BY course.id
    </select>

    <!--    <select id="findCourseInfo" parameterType="list" resultType="Course">-->
    <!--        select * FROM course where id in-->
    <!--        <foreach collection="list" item="id" open="(" close=")" separator=",">-->
    <!--            #{id}-->
    <!--        </foreach>-->
    <!--    </select>-->

    <!--    学生信息获取-->
    <select id="findStudentInfo" parameterType="User" resultType="Student">
        SELECT * FROM student WHERE studentId = #{account}
    </select>
    <select id="findAllStudent" resultType="Student">
        SELECT * FROM student
        <if test="(studentName != null and studentName != '') or (classId != null and classId != 0)">
            where
        </if>
        <if test="studentName != null and studentName != ''">
            name like concat("%", #{studentName}, "%")
        </if>
        <if test="classId != null and classId != 0 and studentName != null and studentName != ''">
            and
        </if>
        <if test="classId != null and classId != 0">
            classId = #{classId}
        </if>
    </select>
    <insert id="insertStudent" parameterType="Student">
        INSERT INTO student (studentId,name,age,gender,address,email,phoneNumber,classId,date) VALUES (#{studentId},#{name},#{age},#{gender},#{address},#{email},#{phoneNumber},#{classId},#{date})
    </insert>

    <update id="updateStudent" parameterType="student">
        UPDATE student SET name = #{name}, age = #{age}, gender=#{gender}, address=#{address}, email=#{email}, phoneNumber=#{phoneNumber}, classId= #{classId},date=#{date} WHERE studentId=#{studentId}
    </update>

    <select id="adminFindStudentByStudentId" parameterType="String" resultType="Student">
        SELECT * FROM student WHERE studentId = #{studentId}
    </select>

    <delete id="deleteSelectedStudent" parameterType="List">
        DELETE FROM student WHERE studentId IN
        <foreach collection="list" item="studentId" open="(" close=")" separator=",">
            #{studentId}
        </foreach>
    </delete>

    <select id="findStudentById" parameterType="Student" resultType="Student">
        SELECT * FROM student WHERE id = #{id}
    </select>

    <!--    查询个人的课程信息 -->
<!--    SELECT teacher.name as teacherName,course.name as courseName,teacher_to_course.startTime, teacher_to_course.endTime,teacher_to_course.time from teacher,teacher_to_course,course WHERE teacher_to_course.teacherId=teacher.teacherId and teacher_to_course.courseId=course.id-->
    <select id="findCourseByTeacher" parameterType="User" resultType="courseTeacher">
       SELECT teacher.name as teacherName,course.name as courseName, ttc.startTime, ttc.endTime, ttc.time FROM student_to_score as sts, teacher_to_course as ttc, teacher, course, student,user WHERE sts.courseId = ttc.courseId and sts.startTime=ttc.startTime and sts.endTime=ttc.endTime and ttc.teacherId = teacher.teacherId and course.id=ttc.courseId and sts.studentId=student.id and student.studentId=user.account and user.account=#{account}
    </select>

    <select id="findStudentInfoByUser" parameterType="User" resultType="Student">
        SELECT* FROM student,user WHERE student.studentId=user.account AND user.account=#{account}
    </select>

<!--    选课查询-->
    <select id="findCourseByAllTeacher" parameterType="User" resultType="courseTeacher">
        SELECT teacher.name as teacherName, course.name as courseName, student.id as studentId, teacher_to_course.courseId, teacher_to_course.startTime, teacher_to_course.endTime,teacher_to_course.time from teacher,teacher_to_course,course,student,user WHERE teacher_to_course.teacherId=teacher.teacherId and teacher_to_course.courseId=course.id and student.studentId = user.account and user.account=#{account} and teacher_to_course.courseId NOT IN (SELECT courseId FROM student_to_score)
    </select>


<!--    选课逻辑实现-->
    <insert id="insertCourseToStudent" parameterType="StudentToScore">
        insert into student_to_score (studentId,courseId,startTime,endTime,address) values (#{studentId},#{courseId},#{startTime},#{endTime},"")
    </insert>
<!--    修改密码-->
    <update id="updateUserPassword" parameterType="User">
        update user set password=#{repassword} where account=#{account}
    </update>
</mapper>