<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<mapper namespace="com.graduation.practice.dao.UserDao">-->
<!--    <select id="findUserByAccount" parameterType="Student" resultType="Student">-->
<!--        SELECT * FROM user WHERE account = #{account}-->
<!--    </select>-->

<mapper namespace="com.graduation.practice.dao.StudentDao">
    <select id="findStudentByStudentId" parameterType="Student" resultType="Student">
        SELECT * FROM student WHERE studentId = #{studentId}
    </select>
    <!--=========================== 学生界面 =====================================================-->
    <select id="findUserByAccount" parameterType="User" resultType="User">
        SELECT * FROM user WHERE account = #{account} and type=5
    </select>
    <!--    &#45;&#45;         select * FROM student_to_score where studentId = #{studentId}-->
    <select id="findStudentScore" parameterType="StudentToScore" resultType="ScoreShow">
        SELECT course.id as courseId, course.`name`, course.`desc`, course.credit, student_to_score.score, student_to_score.startTime, student_to_score.endTime FROM student_to_score, course WHERE course.id = student_to_score.courseId and studentId=#{studentId} ORDER BY id
    </select>

<!--    <select id="findCourseInfo" parameterType="list" resultType="Course">-->
<!--        select * FROM course where id in-->
<!--        <foreach collection="list" item="id" open="(" close=")" separator=",">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--    </select>-->

    <!--    学生信息获取-->
    <select id="findStudentInfo" parameterType="User" resultType="Student">
        SELECT * FROM student WHERE studentId = #{account}
    </select>
</mapper>