<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.practice.dao.TeacherToCourseDao">
    <select id="getCourseNumByTeacherId" parameterType="String" resultType="Integer">
        SELECT COUNT(DISTINCT courseId) FROM teacher_to_course WHERE teacherId = #{teacherId}
    </select>
    <delete id="deleteTTC" parameterType="TeacherToCourse">
        DELETE FROM teacher_to_course WHERE teacherId = #{teacherId} AND courseId = #{courseId} AND startTime = #{startTime} AND endTime = #{endTime}
    </delete>
    <insert id="insertTTC" parameterType="TeacherToCourse">
        INSERT INTO teacher_to_course (teacherId,courseId,startTime,endTime,time) VALUES (#{teacherId},#{courseId},#{startTime},#{endTime},#{time})
    </insert>
    <select id="getAllTTC" resultType="TeacherToCourse">
        SELECT * FROM teacher_to_course
        <if test="(teacherId != null and teacherId != '') or (courseId != null and courseId != 0)" >
            where
        </if>
        <if test="teacherId != null and teacherId != ''">
            teacherId like concat("%", #{teacherId}, "%")
        </if>
        <if test="courseId != null and courseId != 0 and teacherId!= null and teacherId != ''">
            and
        </if>
        <if test="courseId != null and courseId != 0">
            courseId = #{courseId}
        </if>
    </select>
</mapper>