<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.practice.dao.UserDao">
    <select id="findUserByAccount" parameterType="User" resultType="User">
        SELECT * FROM user WHERE account = #{account}
    </select>
    <select id="findAllAdmin" parameterType="User" resultType="User">
        SELECT * FROM user WHERE TYPE in (1, 2) AND account != #{account} ORDER BY id
    </select>
    <insert id="saveUser" parameterType="User">
        INSERT INTO user (account, password, `type`, role) VALUES (#{account}, #{password}, #{type}, #{role})
    </insert>
    <delete id="deleteSelectedUser" parameterType="list">
        DELETE FROM user WHERE account IN
        <foreach collection="list" item="account" open="(" close=")" separator=",">
            #{account}
        </foreach>
    </delete>
    <delete id="deleteUser" parameterType="String">
        DELETE FROM user WHERE account = #{account}
    </delete>
    <update id="updateUser" parameterType="User">
        UPDATE user SET password = #{password}
        <if test="type != null and type != ''">
            , `type` = #{type}
        </if>
        <if test="role != null and role != ''">
            , role = #{role}
        </if>
         WHERE account = #{account}
    </update>
    <select id="searchAllAdminByAccount" parameterType="String" resultType="User">
        SELECT * FROM user WHERE TYPE in (1, 2) AND account != #{account}
        <if test="keyword != null and keyword != ''">
            AND account like concat("%", #{keyword}, "%")
        </if>
        ORDER BY id
    </select>
    <insert id="insertUser" parameterType="User">
        INSERT INTO user (account,password,role,type) VALUES (#{account},#{password},#{role},#{type})
    </insert>
</mapper>